:root {
    --yellow: 252, 179, 21;
    --grey: 32, 32, 32;
    --midgrey: 27, 27, 27;
    --darkgrey: 20, 22, 23;
    --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
}

nav {
    position: absolute;
    position: fixed;
    position: -webkit-sticky;

    display: flex;
    flex-wrap: wrap;

    padding: 10px;
    margin: -8px 0px 0px -8px;
    top: 5px;

    width: 99.75%;
    height: 50px;

    background-color: rgba(var(--grey), 0.1);
    backdrop-filter: blur(10px);
}

nav a {
    padding-left: 20px;
    margin-top: -43px;

    font-size: 25px;
    font-family: var(--font-mono);

    color: rgb(var(--yellow));
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

body {
    font-family: 'heebo';
    background-color: rgb(var(--darkgrey));
    color: rgb(var(--yellow));
}

footer {
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 10px;
}

section {
    display: block;
}

.NavClip {
    padding-top: 50px;
}

.stuff {
    display: flex;
    flex-wrap: wrap;
}

.HeyThere {
    width: 100%;
}

.HeyText { 
    font-size: 10px;
    white-space: initial;
    padding-left: 50px;
    padding-right: 50px;
}

.infobox{
    display: flex;
    padding: 10px;
    margin-right: 10px;
    width: fit-content;
    flex-direction: row;
}

.minifull{
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 75vw;
    flex-direction: row;
    background-color: rgb(var(--grey));
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {
    .minifull{
        display: flex;
        padding: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        max-width: 500px;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(var(--grey));
        border-radius: 10px;
    }

    .bigimg {
        width: 500px;
    }
    .flexxer {
        flex-wrap: wrap;
    }
}

.menuSelect {
    width: 50%;
    text-align: center;
    border-radius: 20px;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgb(var(--midgrey));
    color: rgb(var(--yellow));
}

.vl {
    border-left: 6px solid rgb(var(--yellow));
    border-right: 6px solid rgb(var(--yellow));
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10px;
    width: 0px;
    background-color: rgb(var(--yellow));
}

hr {
    border-color: rgb(var(--yellow));
}

#stuff {
    position: absolute;
}

#bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 0px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #202324;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #454a4d;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--yellow));
}

a:link {
    text-decoration: none;
    color: rgb(var(--yellow));
}
a:visited {
    text-decoration: none;
    color: rgb(var(--yellow));
}
a:hover {
    color: rgb(--grey);
}
a:active {
    text-decoration: none; 
    color: rgb(var(--yellow));
}

@font-face {
    font-family: heebo-black;
    src: url(./Fonts/heeebo/Heebo-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-ExtraBold.ttf);
    font-weight: bolder;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Regular.ttf);
}

@font-face {
    font-family: heebo;
    src: url(./Fonts/heeebo/Heebo-Thin.ttf);
    font-weight: lighter;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}